[project]
	description = Learned coffee script today, made tic-tac-toe using coffeescript, jquery, and html/css
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Bradley Hintze (thebradhimself)
[access "refs/for/refs/*"]
	read = group user/Bradley Hintze (thebradhimself)
	push = group user/Bradley Hintze (thebradhimself)
	label-Code-Review = -2..+2 group user/Bradley Hintze (thebradhimself)
	label-Verified = -1..+1 group user/Bradley Hintze (thebradhimself)
	rebase = group user/Bradley Hintze (thebradhimself)
	removeReviewer = group user/Bradley Hintze (thebradhimself)
	submit = group user/Bradley Hintze (thebradhimself)
[access "refs/heads/*"]
	read = group user/Bradley Hintze (thebradhimself)
	create = group user/Bradley Hintze (thebradhimself)
	push = +force group user/Bradley Hintze (thebradhimself)
	pushMerge = group user/Bradley Hintze (thebradhimself)
[access "refs/tags/*"]
	push = +force group user/Bradley Hintze (thebradhimself)
	pushTag = group user/Bradley Hintze (thebradhimself)
	pushSignedTag = group user/Bradley Hintze (thebradhimself)
