<table class="pull-left">
  <tr>
    <td data-square='1' class='v'></td>
    <td data-square='2'></td>
    <td data-square='3'></td>
  <tr>
  <tr>
    <td data-square='4'></td>
    <td data-square='5'></td>
    <td data-square='6'></td>
  <tr>
  <tr>
    <td data-square='7'></td>
    <td data-square='8'></td>
    <td data-square='9'></td>
  <tr>
</table>

<h1 class="user-wins">User Wins: 0</h1>
<h1 class="comp-wins">Computer Wins: 0</h1>
<h1 class="ties">Ties: 0</h1>
